.projects {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Andika', sans-serif;
}

@media (min-width: 499px) {
    .projects {
        flex-flow: row;
        flex-wrap: wrap;
    }
}