.modal {
    font-family: 'Andika', sans-serif;
    padding: 0 !important;
}

.modal-header {
    padding: 0;
    border: 0;
    display: flex;
    flex-flow: row-reverse;
    .img-thumbnail {
        padding: 0;
        border: 0;
    }
    .close {
        color: white;
        font-size: 10vw;
        position: absolute;
    }
}

.modal-body {
    .close {
        display: none;
    }
    .modal-title {
        font-weight: bold;
        font-size: 5.5vw;
        text-align: center;
    }

    .badge-container {
        text-align: center;
        .badge {
            font-size: 3vw;
            margin: 3px;
        }
    }

    .dates {
        text-align: center;
        font-size: 4vw;
        margin-bottom: 3px;
    }
}

.description {
    font-size: 4vw;
    padding:  0px 15px;
}

.link {
    font-weight: bold;
    color: #3498db;
    text-decoration: underline;
    cursor: pointer;
}
.link:hover {
    color: #1174b6;
}

@media(min-width: 499px) {
    .modal-content {
        display: grid;
        grid-template-columns: auto auto;
        .description {
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 1.7vw;
            padding: 0px 25px;
        }
    }

    .modal-header {
        .close {
            display: none;
        }
    }

    .modal-body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        .close {
            font-size: 4vw;
            text-align: right;
            color: black;
            opacity: 1;
            z-index: 2;
            display: initial;
            position: absolute;
            left: 91%;
        }

        .close:hover {
            color: gray;
        }
        .modal-title {
            text-align: center;
            font-size: 2.5vw;
        }

        .badge-container {
            text-align: center;
            .badge {
                font-size: 1.1vw;
            }
        }

        .dates {
            font-size: 1.7vw;
        }
    }
}