.card {
    color: white;
    text-align: center;
    width: 100%;
    border: 0;
    font-family: 'Andika', sans-serif;
    .card-img-top {
        width: 100%;
        border-radius: 0;
    }

    .card-img-overlay {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(0,0,0,0.5);
        // transition: .5s ease;
        .btn-secondary {
            width: 35vw;
            height: 10vw;
            border-radius: 10px;
            border-width: 1.5px;
            opacity: 1;
            border-color: white;
            background-color: rgba(246, 246, 246, 0.411);
            font-size: 4vw;
            font-weight: bold;
        }
    
        .btn-secondary:hover {
            background-color: rgba(173, 173, 173, 0.788);
            cursor: pointer;
        }
    }

    .card-title {
        font-size: 10vw;
    }
    
    .card-text {
        font-size: 4vw;
    }

    
}

@media (min-width: 499px) {
    .card {
        width: 50%;

        .card-title {
            font-size: 4.5vw;
        }

        .card-text {
            font-size: 1.5vw;
        }

        .card-img-overlay {
            .btn-secondary {
                width: 15vw;
                height: 5vw;
                font-size: 2vw;
            }
        }
    }
}