/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 2.5%;
  left: 83%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 10px 5px;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-flow: column;
}

/* Individual item */
.bm-item {
  display: flex !important;
  outline: white !important;
  justify-content: space-between;
  border-width: 2px;
  border-color: white;
  color: white;
  cursor: pointer;
  font-size: 5vw;
  margin: 15px 0 25px 0;
  font-weight: bold;
  .fas {
    font-size: 7vw;
  }
}

.bm-item:hover {
  color: #e74c3c;
}

@media (min-width: 499px) {
  .bm-burger-button {
    width: 6vw;
    height: 6vw;
    top: 3%;
    left: 90%;
  }

  /* Individual item */
  .bm-item {
    font-size: 3vh;
    .fas {
      font-size: 40px;
    }
  }
}
